*
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
baner, stopka
{
    background-color: #829EB9;
    color: white;
    text-align: center;
    padding: 10px;
}
lewy, prawy
{
    background-color: #B3C6D9;
    height: 400px;
    width: 25%;
    padding-top: 100px;
}
